@CHARSET "UTF-8";

.estilo_campos {
	font-family: Arial;
	font-size: 18px;
	color: #FFFFFF;
	background-color: olive;
	border: none;
	width: 300px;
}

.button {
	font-family: Arial;
	font-size: 18px;
	color: #FFFFFF;
	background-color: blue;
}

.header {
	font-family: Arial;
	font-size: 14px;
	color: yellow;
	background-color: red;
	padding: 5px;
}

.listagem {
	border-color: black;
	border-width: 2px;
	border-bottom-style: solid;
	background-color: white;
}

.coluna1 {
	font-family: Arial;
	font-size: 12px;
	color: black;
	background-color: white;
	padding: 5px;
}

.coluna2 {
	font-family: Arial;
	font-size: 12px;
	color: black;
	background-color: silver;
	padding: 5px;
}

.erros {
	font-family: Arial;
	font-size: 14px;
	color: red;
	font-weight: bold;
	
}